.profile-page{
  background: rgb(21 32 43);
  border-right: 0.5px solid gray;
  border-left: 0.5px solid gray;
}

.profile-header{
  height: 9vh;
  display: flex;
  padding-top: 10px;
  padding-left: 10px;
}

.profile-htext{
  padding-left: 30px;
}

.profile-htext > p.profile-hname{
  font-weight: 700;
  font-size: 20px;
}

.profile-htext > p.profile-tweets-no{
  color: gray;
  font-size: smaller;
}

.profile-images{
  position: relative;
  height: 42vh;
}

.profile-cover-photo > img{
  height: 30vh;
  width: 100%;
}

.profile-dp > img{
  border-radius: 50%;
  width: 150px;
  object-fit: cover;
  margin-left: 20px;
  position: absolute;
  top: 117px;
  border: 4px solid rgb(21 32 43);
}

.profile-edit-button{
  border: 1px solid gray;
  position: absolute;
  right: 25px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 25px;
  width: 120px;
  color: white;
  font-weight: 800;
  font-size: 15px;
}

.profile-mid-section{
  height: 30vh;
  border-bottom: 0.5px solid gray;
  padding-left: 15px;
}

.profile-names{
  margin-bottom: 20px;
}

.profile-name{
  font-size: 20px;
  font-weight: 800;
}

.profile-username{
  color: gray;
  font-size: 15px;
}

.user-profile-info{
  margin-top: 15px;
  display: flex;
  color: gray;
}

.user-info{
  display: flex;
  margin-right: 20px;
}

.profile-info-text{
  margin-left: 5px;
}

.user-followers{
  display: flex;
  margin-top: 10px;
}

.profile-ffg{
  display: flex;
  margin-right: 20px;
}

.ffg-no{
  font-weight: 800;
}

.ffg-text{
  margin-left: 5px;
  color: gray;
}

.profile-lists{
  display: flex;
  justify-content: space-around;
  color: gray;
  margin-top: 25px;
  font-weight: 600;
}