.right-pane{
  background: rgb(21 32 43);
  position: sticky;
  top: 0;
  height: 100vh;
}

.trend-search-container{
/* border: 1px solid red; */
width: 80%;
margin: 10px auto;
padding: 10px;
background-color: #42465e5e;
border-radius: 25px;
display: flex;
align-items: center;
}

.trend-search-container input[type="text"]{
  width: 80%;
  max-width: 400px;
  padding: 5px;
  margin-left: 10px;
  color: white;
  font-size: 15px;
  height: 100%;
  outline: none;
  background: none;
  border: none;
}

.trend-search-icon{
  margin-left: 10px;
  color: gray;
}

.trend-ctn{
  display: flex;
  justify-content: space-between;
}

.trend-ctn:hover{
  background-color: rgb(21 32 43);

}

.widget-body{
  width: 80%;
  margin: 10px auto;
  height: 580px;
  border-radius: 10px;
  background-color: #42465e5e;
  padding: 10px;
}

.widget-body .title{
  font-weight: 1000;
  padding: 10px;
}

.trend-box{
  margin-bottom: 8px;
  padding: 10px;
  cursor: pointer;
}


.widget-body .trend-title{
  color: gray;
}

.widget-body .trend-topic{
  font-size: large;
  font-weight: 800;
}





